<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Product</title>
</head>
<body>
  <div>{{message}}</div>
  <form method="POST" action="/add_product" enctype="multipart/form-data">

  
    <label>Name:</label><br>
    <input type="text" placeholder="Bag2" name="productName" /><br>
     
    
    <label>Size:</label><br>
    <input type="text" placeholder="L" name="productsize"><br>

  
    <label>Color:</label><br>
    <input type="text" placeholder="Brown" name="productcolor"><br>

  
    <label>Price(in Tomans):</label><br>
    <input type="number" placeholder="1350" name="price"><br>
  
  
    <label>Quantity:</label><br>
    <input type="number" placeholder="2" name="stock"><br>


    <label>Category:</label><br>
    <input type="text" placeholder="Bags" name="category"><br>
    
    
    <label>Discount:</label><br>
    <input type="text" placeholder="12345" name="discount"><br><br><br>



    {{form.hidden_tag()}}
    {{form.file()}}
    {{form.submit()}}
  
  <br><br>

  <input type="submit" value="Submit">
  </form>
</body>
</html>
